@using NotusJS.Views.Landing.Navbar;
@model LandingNavbarLinkModel;

<li class="flex items-center">
    <a class="lg:text-white lg:hover:text-slate-200 text-slate-700 px-3 py-4 lg:py-2 flex items-center text-xs uppercase font-bold"
       href="@Model.Link"
       target="_blank">
        @Model.ChildContent
    </a>
</li>
