<div class="w-full lg:w-6/12 px-4">
    <div class="flex flex-wrap items-top mb-6">
        <div class="w-full lg:w-4/12 px-4 ml-auto">
            <span class="block uppercase text-slate-500 text-sm font-semibold mb-2">Useful Links</span>
            <ul class="list-unstyled">
                <li>
                    <a class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                       href="https://www.creative-tim.com/presentation?ref=njs-landing">About Us</a>
                </li>
                <li>
                    <a class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                       href="https://blog.creative-tim.com?ref=njs-landing">Blog</a>
                </li>
                <li>
                    <a class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                       href="https://www.github.com/creativetimofficial?ref=njs-landing">Github</a>
                </li>
                <li>
                    <a class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                       href="https://www.creative-tim.com/bootstrap-themes/free?ref=njs-landing">Free Products</a>
                </li>
            </ul>
        </div>
        <div class="w-full lg:w-4/12 px-4">
            <span class="block uppercase text-slate-500 text-sm font-semibold mb-2">Other Resources</span>
            <ul class="list-unstyled">
                <li>
                    <a class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                       href="https://github.com/creativetimofficial/notus-js/blob/main/LICENSE.md?ref=njs-landing">MIT License</a>
                </li>
                <li>
                    <a class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                       href="https://creative-tim.com/terms?ref=njs-landing">Terms &amp; Conditions</a>
                </li>
                <li>
                    <a class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                       href="https://creative-tim.com/privacy?ref=njs-landing">Privacy Policy</a>
                </li>
                <li>
                    <a class="text-slate-600 hover:text-slate-800 font-semibold block pb-2 text-sm"
                       href="https://creative-tim.com/contact-us?ref=njs-landing">Contact Us</a>
                </li>
            </ul>
        </div>
    </div>
</div>