@model ResetPasswordViewModel;
@{
    ViewData["Title"] = "ResetPassword";
    Layout = null;
}

<!DOCTYPE html>
<html :class="{ 'theme-dark': dark }" x-data="data()" lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800&display=swap"
          rel="stylesheet" />
    <link href="~/css/tailwind.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.5.1/cdn.min.js" defer></script>
    <script src="~/js/WindmillUI/init-alpine.js"></script>
</head>
<body>
    <div style="background-image: url('@Url.Content("~/img/imgBackground.jfif")'); background-size: 100% 100%; ">
        <div class="flex items-center min-h-screen">
            <div class="flex-1 h-full max-w-2xl mx-auto overflow-hidden bg-white rounded-lg shadow-xl dark:bg-gray-800">
                <div class="flex items-center justify-center p-6 sm:p-12">
                    <div class="w-full">

                        @if (Model.ResetPasswordSuccessful)
                        {
                            <div class="max-w-2xl px-4 py-3 mb-8 bg-green-100 rounded-lg shadow-md mx-auto">
                                <div class="text-green-700 font-medium text-1xl">
                                    <div>
                                        <svg class="mb-2 h-20 w-20 text-green-500 mx-auto" viewBox="0 0 20 20" fill="currentColor">
                                            <path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zm3.707-9.293a1 1 0 00-1.414-1.414L9 10.586 7.707 9.293a1 1 0 00-1.414 1.414l2 2a1 1 0 001.414 0l4-4z" clip-rule="evenodd" />
                                        </svg>

                                        <h2 class="text-2xl mb-4 text-gray-800 text-center font-bold">Password reset successfully</h2>

                                        <a class="w-40 block mx-auto focus:outline-none py-2 px-5 rounded-lg shadow-sm text-center mt-3 text-base text-green-500 bg-white hover:bg-gray-100 font-medium border"
                                       asp-area="" asp-controller="Auth" asp-action="Login">
                                            Go to Login
                                        </a>
                                    </div>
                                </div>
                            </div>
                        }
                        <form asp-controller="Auth" asp-action="ResetPassword">
                            <div class="my-8">
                                <h1 class="text-2xl font-bold border-b-4 text-gray-600 pb-4">Reset your password</h1>
                            </div>
                            <div>
                                <input asp-for="Code" type="hidden" />
                            </div>
                            <div class="mb-6">
                                <label class="tw-label" asp-for="Email"></label>
                                <input class="tw-input" id="Email" type="text" asp-for="Email">
                                <span class="tw-validation-error" asp-validation-for="Email"></span>
                            </div>
                            <div class="mb-6">
                                <label class="tw-label" asp-for="Password"></label>
                                <input class="tw-input" id="Password" placeholder="New Password" type="password" asp-for="Password">
                                <span class="tw-validation-error" asp-validation-for="Password"></span>
                            </div>
                            <div class="mb-6">
                                <label class="tw-label" asp-for="ConfirmPassword"></label>
                                <input class="tw-input" id="ConfirmPassword" placeholder="Confirm New Password" type="password" asp-for="ConfirmPassword">
                                <span class="tw-validation-error" asp-validation-for="ConfirmPassword"></span>
                            </div>
                            <div class="flex justify-center ">
                                <button class="block w-full px-5 py-3 text-sm font-medium leading-5 text-center text-white transition-colors duration-150 bg-primary border border-transparent rounded-lg active:bg-primary hover:bg-blue-600 focus:outline-none focus:ring-primary-dark"
                                        type="submit">
                                    Save Password
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>


