@using NotusJS.Views.Landing.Company;
@model LandingCompanyComponent

<section class="relative py-20">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
         style="transform: translateZ(0px)">
        <svg class="absolute bottom-0 overflow-hidden"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="none"
             version="1.1"
             viewBox="0 0 2560 100"
             x="0"
             y="0">
            <polygon class="text-white fill-current"
                     points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <div class="container mx-auto px-4">
        <div class="items-center flex flex-wrap">
            <div class="w-full md:w-4/12 ml-auto mr-auto px-4">
                <img alt="..."
                     class="max-w-full rounded-lg shadow-lg"
                     src="https://images.unsplash.com/photo-1555212697-194d092e3b8f?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=634&amp;q=80" />
            </div>
            <div class="w-full md:w-5/12 ml-auto mr-auto px-4">
                <div class="md:pr-12">
                    <div class="text-primary p-3 text-center inline-flex items-center justify-center w-16 h-16 mb-6 shadow-lg rounded-full bg-primary-300">
                        <i class="fas fa-rocket text-xl"></i>
                    </div>
                    <h3 class="text-3xl font-semibold">A growing company</h3>
                    <p class="mt-4 text-lg leading-relaxed text-slate-500">
                        The extension comes with three pre-built pages to help you get
                        started faster. You can change the text and images and you're
                        good to go.
                    </p>
                    <ul class="list-none mt-6">
                        <li class="py-2">
                            <div class="flex items-center">
                                <div>
                                    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-primary bg-primary-200 mr-3">
                                        <i class="fas fa-fingerprint"></i>
                                    </span>
                                </div>
                                <div>
                                    <h4 class="text-slate-500">
                                        Carefully crafted components
                                    </h4>
                                </div>
                            </div>
                        </li>
                        <li class="py-2">
                            <div class="flex items-center">
                                <div>
                                    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-primary bg-primary-200 mr-3">
                                        <i class="fab fa-html5"></i>
                                    </span>
                                </div>
                                <div>
                                    <h4 class="text-slate-500">Amazing page examples</h4>
                                </div>
                            </div>
                        </li>
                        <li class="py-2">
                            <div class="flex items-center">
                                <div>
                                    <span class="text-xs font-semibold inline-block py-1 px-2 uppercase rounded-full text-primary bg-primary-200 mr-3">
                                        <i class="far fa-paper-plane"></i>
                                    </span>
                                </div>
                                <div>
                                    <h4 class="text-slate-500">Dynamic components</h4>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="pt-20 pb-48">
    <div class="container mx-auto px-4">
        <div class="flex flex-wrap justify-center text-center mb-24">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold">Here are our heroes</h2>
                <p class="text-lg leading-relaxed m-4 text-slate-500">
                    According to the National Oceanic and Atmospheric
                    Administration, Ted, Scambos, NSIDClead scentist, puts the
                    potentially record maximum.
                </p>
            </div>
        </div>
        <div class="flex flex-wrap">
            <team-member name="Ryan Tompson" role="Web Developer" image="@Url.Content("~/Notus/assets/img/team-1-800x800.jpg")"></team-member>
            <team-member name="Romina Hadid" role="Marketing Specialist" image="@Url.Content("~/Notus/assets/img/team-2-800x800.jpg")"></team-member>
            <team-member name="Alexa Smith" role="UI/UX Designer" image="@Url.Content("~/Notus/assets/img/team-3-800x800.jpg")"></team-member>
            <team-member name="Jenna Kardi" role="Founder and CEO" image="@Url.Content("~/Notus/assets/img/team-4-470x470.png")"></team-member>
        </div>
    </div>
</section>