@using NotusJS.Views.Landing.Company;
@model TeamMemberComponent

<div class="w-full md:w-6/12 lg:w-3/12 lg:mb-0 mb-12 px-4">
    <div class="px-6">
        <img alt="@Model.ImageAlt"
             src="@Model.ImageSrc"
             class="shadow-lg rounded-full mx-auto max-w-120-px" />
        <div class="pt-6 text-center">
            <h5 class="text-xl font-bold">@Model.Name</h5>
            <p class="mt-1 text-sm text-slate-400 uppercase font-semibold">
                @Model.Role
            </p>
            <div class="mt-6">
                <button class="bg-primary-500 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                        type="button">
                    <i class="fab fa-dribbble"></i>
                </button><button class="bg-red-600 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                 type="button">
                    <i class="fab fa-google"></i>
                </button><button class="bg-sky-400 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                 type="button">
                    <i class="fab fa-twitter"></i>
                </button><button class="bg-slate-700 text-white w-8 h-8 rounded-full outline-none focus:outline-none mr-1 mb-1"
                                 type="button">
                    <i class="fab fa-instagram"></i>
                </button>
            </div>
        </div>
    </div>
</div>