<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <link rel="shortcut icon" href="~/assets/img/favicon.ico" />
    <link rel="apple-touch-icon" sizes="76x76" href="~/assets/img/apple-icon.png" />
    <link rel="stylesheet" href="~/assets/vendor/@@fortawesome/fontawesome-free/css/all.min.css" />
    <link rel="stylesheet" href="~/css/tailwind.css" />

    <title>@ViewData["Title"]</title>
</head>
<body class="text-slate-700 antialiased">
    <vc:notus-auth-header></vc:notus-auth-header>
    <main>
        <section class="relative w-full h-full py-40 min-h-screen">
            <div class="absolute top-0 w-full h-full bg-slate-800 bg-full bg-no-repeat"
                 style="background-image: url('@Url.Content("~/assets/img/register_bg_2.png")')"></div>
            <div class="container mx-auto px-4 h-full">
                <div class="flex content-center items-center justify-center h-full">
                    @RenderBody()
                </div>
            </div>
            <vc:notus-auth-footer></vc:notus-auth-footer>
        </section>
    </main>
</body>
<script src="https://unpkg.com/@@popperjs/core@2/dist/umd/popper.js"></script>
<script>
    /* Make dynamic date appear */
    (function () {
      if (document.getElementById("get-current-year")) {
        document.getElementById(
          "get-current-year"
        ).innerHTML = new Date().getFullYear();
      }
    })();
    /* Function for opning navbar on mobile */
    function toggleNavbar(collapseID) {
      document.getElementById(collapseID).classList.toggle("hidden");
      document.getElementById(collapseID).classList.toggle("block");
    }
    /* Function for dropdowns */
    function openDropdown(event, dropdownID) {
      let element = event.target;
      while (element.nodeName !== "A") {
        element = element.parentNode;
      }
      Popper.createPopper(element, document.getElementById(dropdownID), {
        placement: "bottom-start",
      });
      document.getElementById(dropdownID).classList.toggle("hidden");
      document.getElementById(dropdownID).classList.toggle("block");
    }
</script>
@await RenderSectionAsync("Scripts", required: false)
</html>
