@using NotusJS.Views.Landing.Contact;
@model LandingContactComponent

<section class="pb-20 relative block bg-slate-800">
    <div class="bottom-auto top-0 left-0 right-0 w-full absolute pointer-events-none overflow-hidden -mt-20 h-20"
         style="transform: translateZ(0px)">
        <svg class="absolute bottom-0 overflow-hidden"
             xmlns="http://www.w3.org/2000/svg"
             preserveAspectRatio="none"
             version="1.1"
             viewBox="0 0 2560 100"
             x="0"
             y="0">
            <polygon class="text-slate-800 fill-current"
                     points="2560 0 2560 100 0 100"></polygon>
        </svg>
    </div>
    <div class="container mx-auto px-4 lg:pt-24 lg:pb-64">
        <div class="flex flex-wrap text-center justify-center">
            <div class="w-full lg:w-6/12 px-4">
                <h2 class="text-4xl font-semibold text-white">Build something</h2>
                <p class="text-lg leading-relaxed mt-4 mb-4 text-slate-400">
                    Put the potentially record low maximum sea ice extent tihs year
                    down to low ice. According to the National Oceanic and
                    Atmospheric Administration, Ted, Scambos.
                </p>
            </div>
        </div>
        <div class="flex flex-wrap mt-12 justify-center">
            <services-card name="Excelent Services" 
                           description="Some quick example text to build on the card title and make up the bulk of the card's content.">
            </services-card>
            <services-card name="Grow your market" 
                           description="Some quick example text to build on the card title and make up the bulk of the card's content.">
            </services-card>
            <services-card name="Launch time" 
                           description="Some quick example text to build on the card title and make up the bulk of the card's content.">
            </services-card>
        </div>
    </div>
</section>
<contact-form></contact-form>