@using NotusJS.Views.Landing.Contact
@model ServicesCardComponent

<div class="w-full lg:w-3/12 px-4 text-center">
    <div class="text-slate-800 p-3 w-12 h-12 shadow-lg rounded-full bg-white inline-flex items-center justify-center">
        <i class="fas fa-medal text-xl"></i>
    </div>
    <h6 class="text-xl mt-5 font-semibold text-white">
        @Model.Name
    </h6>
    <p class="mt-2 mb-4 text-slate-400">
        @Model.Description
    </p>
</div>