@page
@model IndexModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <vc:notus-styles></vc:notus-styles>
    <title>Landing | Notus JS</title>
</head>
<body class="text-slate-700 antialiased">
    <landing-navbar>
        <landing-navbar-link link="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdemos.creative-tim.com%2Fnotus-js%2F">
            <i class="lg:text-slate-200 text-slate-400 fab fa-facebook text-lg leading-lg"></i><span class="lg:hidden inline-block ml-2">Share</span>
        </landing-navbar-link>
        <landing-navbar-link link="https://twitter.com/intent/tweet?url=https%3A%2F%2Fdemos.creative-tim.com%2Fnotus-js%2F&text=Start%20your%20development%20with%20a%20Free%20Tailwind%20CSS%20and%20JavaScript%20UI%20Kit%20and%20Admin.%20Let%20Notus%20JS%20amaze%20you%20with%20its%20cool%20features%20and%20build%20tools%20and%20get%20your%20project%20to%20a%20whole%20new%20level.">
            <i class="lg:text-slate-200 text-slate-400 fab fa-twitter text-lg leading-lg"></i><span class="lg:hidden inline-block ml-2">Tweet</span>
        </landing-navbar-link>
        <landing-navbar-link link="https://github.com/creativetimofficial/notus-js?ref=njs-login">
            <i class="lg:text-slate-200 text-slate-400 fab fa-github text-lg leading-lg"></i><span class="lg:hidden inline-block ml-2">Star</span>
        </landing-navbar-link>
        <li class="flex items-center">
            <a asp-controller="Auth" asp-action="Login" class="bg-white text-slate-700 active:bg-slate-50 text-xs font-bold uppercase px-4 py-2 rounded shadow hover:shadow-md outline-none focus:outline-none lg:mr-1 lg:mb-0 ml-3 mb-3 ease-linear transition-all duration-150">
                Login
            </a>
        </li>
    </landing-navbar>
    <main>
        <landing-hero background="https://images.unsplash.com/photo-1557804506-669a67965ba0?ixlib=rb-1.2.1&amp;ixid=eyJhcHBfaWQiOjEyMDd9&amp;auto=format&amp;fit=crop&amp;w=1267&amp;q=80"
                      main-text="Your story starts with us."
                      sub-text="This is a simple example of a Landing Page you can build using
                        Notus JS. It features multiple CSS components based on the
                        Tailwind CSS design system.">
        </landing-hero>
        <landing-agency></landing-agency>
        <landing-company></landing-company>
        <landing-contact></landing-contact>
        <landing-footer></landing-footer>
    </main>

</body>
<script src="https://unpkg.com/@@popperjs/core@2/dist/umd/popper.js"></script>
<script>
    /* Make dynamic date appear */
    (function() {
        if (document.getElementById("get-current-year")) {
            document.getElementById(
                "get-current-year"
            ).innerHTML = new Date().getFullYear();
        }
    })();
    /* Function for opning navbar on mobile */
    function toggleNavbar(collapseID) {
        document.getElementById(collapseID).classList.toggle("hidden");
        document.getElementById(collapseID).classList.toggle("block");
    }
</script>
</html>