@using NotusJS.Views.Auth.Footer;
@model NotusAuthFooterComponent

<footer class="absolute w-full bottom-0 bg-slate-800 pb-6">
    <div class="container mx-auto px-4">
        <hr class="mb-6 border-b-1 border-slate-600" />
        <div class="flex flex-wrap items-center md:justify-between justify-center">
            <div class="w-full md:w-4/12 px-4">
                <div class="text-sm text-white font-semibold py-1 text-center md:text-left">
                    Copyright © <span id="get-current-year"></span>
                    <a href="https://www.creative-tim.com?ref=njs-login"
                       class="text-white hover:text-slate-300 text-sm font-semibold py-1">Creative Tim</a>
                </div>
            </div>
            <div class="w-full md:w-8/12 px-4">
                <ul class="flex flex-wrap list-none md:justify-end justify-center">
                    @Model.ChildContent
                </ul>
            </div>
        </div>
    </div>
</footer>