@using NotusJS.Views.Auth.Footer;
@model NotusAuthFooterLinkComponent

<li>
    <a href="@Model.Link"
       class="text-white hover:text-slate-300 text-sm font-semibold block py-1 px-3">@Model.ChildContent</a>
</li>